{% extends "base.html" %}

{% block content %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/about_us.css') }}">
	<div class="intro_inner">
		<h1 class="title_page">about us</h1>
		<h4 class="text1">We are a team of developers that wants to show you the world and stasistics. Enjoy.</h4>
		<h4 class="text2">Donate: 0194786878ew678</h4>
		<div class="avatar_container">
			<div class="avatar"></div>
			<div class="avatar"></div>
			<div class="avatar"></div>
		</div>
		<div class="text_avatar_container">
			<div class="text_avatar">Dimochka</div>
			<div class="text_avatar">Den</div>
			<div class="text_avatar">Sophie</div>
		</div>
	</div>
	<script src="{{ url_for('static', filename='js/random_color.js') }}"></script>
    
{% endblock %}