font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;


.tab input, .tab-content { display: none; }
.tab {
width: 500px;  
font: 0.8rem/1.2 Arial, sans-serif; /* Параметры шрифта */
border: 1px solid #e9eaec; /* Параметры рамки */
border-radius: 3px; /* Скругляем уголки */
color: #848994; /* Цвет текста */
margin-bottom: 10px; /* Расстояние между пунктами */
}
.tab-title {
padding: 10px; /* Поля вокруг текста */
display: block; /* Блочный элемент */
text-transform: uppercase; /* Все буквы заглавные */
font-weight: bold; /* Жирное начертание */
cursor: pointer; /* Вид курсора */
}
.tab-title::after {
content: '+'; /* Выводим плюс */
float: right; /* Размещаем по правому краю */
}
.tab-content {
padding: 10px 20px; /* Поля вокруг текста */
}
.tab :checked + .tab-title {
background-color: #50a2de; /* Цвет фона */
border-radius: 3px 3px 0 0; /* Скругляем уголки */
color: #fff; /* Цвет текста */
}
.tab :checked + .tab-title::after {
content: '−'; /* Выводим минус */
}
.tab :checked ~ .tab-content {
display: block; /* Показываем содержимое */
}

/*
  ВЕРСТКА САЙТА:::
*/
body{
  margin: 0;
  background-color: #191819;
  font-family: 'Montserrat', sans-serif; 
  overflow: auto;
  overflow-wrap: anywhere;
  overflow-x: hidden;
}

/* Скролл для всего сайта или body */
body::-webkit-scrollbar {
  background: #262526;
  width: 19px;
}
body::-webkit-scrollbar-track {
  background: #262526;
}
body::-webkit-scrollbar-thumb {
  background: #353436;
  border: 4px solid #262526; 
  border-radius: 5px;
}
body::-webkit-scrollbar-corner {    /*Уголок между верхним и нижним скроллами*/
  background: #353436;
}

/* Конец скролла */

.canvas_container{
  display: none;
}
/* Слой, который накрывает всё на странице */
.canvas{
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  z-index: 1;
  opacity: 80%;
  position: fixed;
  transition: background-color 0.5s;
}
.bg-sharebuttons{
  background-color: #707070;
  position: fixed;
  width: 400px;
  height: 200px;
  z-index: 3;
  margin-top: 385px;
  margin-left: 770px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
}
.canvas_text{
  color: #a39da6;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-left: 156px;
  margin-top: 16px;
}
.back{
  width: 24px;
  height: 24px;
  margin: 10px;
  cursor: pointer;
}
/* Кнопки "поделиться" */
.ya-share2{
  position: fixed;
  margin-top: 76px;
  margin-left: 70px;
  z-index: 3;
}

.container_header{
  background-color: #222122;
  height: 75px;
}

 /* HEADER */
.header{
  width: 100%;
}

.header_inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 64px;    /*отступ слева*/
  padding-right: 59px;   /*отступ справа*/
  padding-top: 17px;
}

.logo_div{
  cursor: pointer;
}

.logo_div_text{
  display: inline-block;
  margin-left: 59px;
  margin-top: 3px;
}

.logo{
  border-radius: 100px;
  width: 44px;
  height: 42px;
  position: absolute; 
  background: #444;
  margin-left: 3px;
}

.img_logo{
  width: 45px;
  height: 37px;
  position: absolute; 
} 

.logo_up{
  color: #fff;
  font-weight: 800;
  font-size: 18px;
}
.logo_down{
  padding-left: 1px;
  color: #86818D;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

/* NAVIGATION*/
.nav{
  text-transform: uppercase;
  padding-right: 159px;
}

.nav_link{
  color: #fff;
  text-decoration: none;
  display: inline-block;
  vertical-align: top; /* Выравнивание верхнего края элемента по верху самого высокого элемента строки.*/
  margin: 0 35px;
  font-weight: 100;
  font-size: 16px;
  position: relative;   
}
/*Коронавирус в лого*/
.coronavirus_nav{
  filter: brightness(1.6);
}

.nav_link:after{      /* Полоска под навигацией */
  content: "";
  display: block;
  opacity: 0;     /* прозрачность элемента */
  width: 100%;
  height: 1px;
  background-color: #fff;
  transition: opacity 0.1s linear;   /* переход(прозрачность, 0.1сек, linear(гугли если нема))*/
}

.nav_link:hover{
  color: #fff;
}

.nav_link:hover:after{
  opacity: 1;     /* прозрачность элемента */
}

/* Translate icon */
.translate_icon{
  width: 42px;
  height: 36px;
}

/*.language{
  color: #E3D7F6;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
}
*/
/* Треугольник для меню выбора языка */
/*.language:after{
  display: inline-block;
  color: #a1a1a1;
  content: "";

  border-top: 10px solid;
  border-right: 6px solid transparent;
  border-bottom: 0;
  border-left: 6px solid transparent;

  position: absolute;
  margin-left: 2px;
  margin-top: 15px;
}
*/

/* INTRO */

.intro{
  width: 100%;
  margin-top: 35px;
}

.categories{
  width: 397px;   
  height: 845px;
  background-color: #222122;
  display: inline-block;
  margin-left: 65px;
}

/* classification */
.categories_text{
  color: #9D9D9D;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;

  padding-left: 46px;
  padding-top: 21px;
}

/* Контейнер для search_input */
.search_inner{
  padding-top: 18px;
  padding-left: 23px;
}
/* Инпут поиск */

.search_input{
  background-color: #0C0C0D;
  color: #9A9A9A;
  width: 316px;
  height: 41px;
  border-radius: 100px;
  outline: none;  /*Убираем обводку */
  border: none;  /*Убираем границы */
  position: absolute;


  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-indent: 18px; /*Отступ текста*/
}

.search_input::placeholder{
  color: #9A9A9A;
  padding-bottom: 10px;
}

/* Круг поиска */
.search_circle{
  background-color: #221f22;
  width: 33px;
  height: 33px;
  border-radius: 100px;

  position: absolute;
  margin-left: 281px;
  margin-top: 5px;
}
/*общий контейнер - фон*/
.bg_for_search_inner_container{
  background-color: #333334;
  width: 350px;
  height: 1px;
  margin-left: 11px;
  margin-top: 53px;
  transition: height 0.5s cubic-bezier(0, 0, 1, 1);
}

/* Контейнер для выпадающего списка */
.search_inner_container{
  width: 340px;
  height: 0px;
  overflow: auto;
  overflow-x: hidden;
  overflow-wrap: anywhere;
  transition: height 0.5s cubic-bezier(0, 0, 1, 1);
}


/* Скролл search_inner_container */
#search_inner_container::-webkit-scrollbar {
  background: #2a292a;
  width: 12px;
}
#search_inner_container::-webkit-scrollbar-track {
    
}
#search_inner_container::-webkit-scrollbar-thumb {
  background: #353436;
  border: 2px solid #2a292a; 
  border-radius: 2px;
}
/* Buttons */
#search_inner_container::-webkit-scrollbar-button:single-button {
  background: no-repeat #e9ecef;
  background-size: 1em;
  background-position: center bottom;
}
/* Up */
#search_inner_container::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-image: url('img/arrowUp.png')
}

/* Down */
#search_inner_container::-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url('img/arrowDown.png')
}
/* Конец скролла */


/* Контейнер */
.categories_inner {
  height: 728px;
  width: 377px;
  overflow: auto;
  overflow-x:hidden;
  margin-left: 11px;
  margin-top: 1px;
  transition: height 0.5s cubic-bezier(0, 0, 1, 1);
}

/* Скролл для categories_inner */
#d::-webkit-scrollbar {
  background: #2a292a;
  width: 16px;
}
#d::-webkit-scrollbar-track {
    
}
#d::-webkit-scrollbar-thumb {
  background: #353436;
  border: 3px solid #2a292a; 
  border-radius: 2px;
}
/* Buttons */
#d::-webkit-scrollbar-button:single-button {
  background: no-repeat #e9ecef;
  background-size: 1em;
  background-position: center bottom;
}
/* Up */
#d::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-image: url('img/arrowUp.png')
}

/* Down */
#d::-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url('img/arrowDown.png')
}
/* Конец скролла */

.categories_inner_inner{
  margin-right: 10px; 
}

/* Линия - Из этого разворачивается меню */
.from_it_unfolds_line{
  margin-top: 53px;
  width: 350px;
  border: 1px solid #333334;
  position: absolute;
  margin-left: 11px;
}

/* Категории статистики */
.category_bg{
  background-color: #171517;
  width: 350px;
  height: 45px; 
  margin-top: 4px;
  cursor: pointer;
}

/* Контейнер для треугольника ниже */
.div_triangle{
  display: inline-block;  
}
/* Треугольник направлен вниз, когда открыт элемент*/
.triangle_less_open, .triangle_much_open{
  color: #808080;
  content: "";
  border-top: 9px solid;
  border-right: 5px solid transparent;
  border-bottom: 0;
  border-left: 5px solid transparent;
  margin-right: 10px;
  margin-left: 32px;
  cursor: pointer;
}

.triangle_less_open{
  display: inline-block;
  margin-top: 18px;
}

.triangle_much_open{
  margin-bottom: 8px;
}
/*Конец*/

/* Треугольник направлен направо, когда закрыт элемент*/
.triangle_less, .triangle_much{
  color: #808080;
  content: "";

  border-top: 5px solid transparent;
  border-right: 0;
  border-bottom: 5px solid transparent;
  border-left: 9px solid;
  margin-right: 10px;
  margin-left: 32px;
  cursor: pointer;
}

.triangle_less{
  display: inline-block;
  margin-top: 18px;
}

.triangle_much{
  margin-bottom: 8px;
}
/* Конец */

/* Больше и Меньше вместе */
.category_text_less, .category_text_much{
  color: #EEEEEE  ;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase; 

  cursor: pointer;
  display: inline-block;
  width: 280px;
 /* position: absolute;*/
}

/* Менее 38 символов*/
.category_text_less{
  padding-top: 16px;
}
/* Более 38 символов */
.category_text_much{
  padding-top: 8px;
}
.trending_logo{
  vertical-align: bottom;
  width: 15px;
  height: 20px;
  display: inline-block;
  margin-top: 3px;
}



/*.category_text_block{
  color: #e7def7;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase; 

  padding-top: 13px;
  padding-left: 27px;
  cursor: pointer;
}

.category_text_block:before{
  display: inline-block;
  color: #F7B7E6;
  content: "";
  border-top: 9px solid;
  border-right: 5px solid transparent;
  border-bottom: 0;
  border-left: 5px solid transparent;
  margin-right: 10px;
}*/

.category_main{
  display: none;
  width: 350px;
  height: 200px;
  background-color: #212122;  
}

/* Контейнер букв поиска */
.letters_for_search{
  padding-left: 17px;
  padding-top: 12px;
  padding-bottom: 4px;
}

/* Буквы поиска */
.search_for_letter{
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 6px;
  cursor: pointer;
}

/* Класс если нет слов начинающихся с такой буквы, то она перекаршивается в другой цвет*/
.no_letter{
  color: #474A54;
  cursor: default;

}

/* линия под буквами для поиска*/
.under_the_letters_line{
  border: 1px solid #333334;
  width: 323px;
  padding-left: 5px;
}

.tab_content{
  padding-left: 16px;
}

.select_tab{    /* лист бокс, который находится в меню*/
  height: 147px;
  border: 0px solid white;
  width: 340px;
  font-size: 16px;
  background-color: #212122;
  outline:none;
  overflow: auto;
  overflow-x: hidden;
}
/* Скролл select_tab */

div .select_tab::-webkit-scrollbar {
  background: #2a292a;
  width: 12px;
}
div .select_tab::-webkit-scrollbar-track {
    
}
div .select_tab::-webkit-scrollbar-thumb {
  background: #353436;
  border: 2px solid #2a292a; 
  border-radius: 2px;
}
/* Buttons */
div .select_tab::-webkit-scrollbar-button:single-button {
  background: no-repeat #e9ecef;
  background-size: 1em;
  background-position: center bottom;
}
/* Up */
div .select_tab::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-image: url('img/arrowUp.png')
}

/* Down */
div .select_tab::-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url('img/arrowDown.png')
}
/* Конец скролла */


/* Отступ строк в меню*/
.option_tab{
  color: #F3F3F3;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 400;
  padding-bottom: 11px;
  padding-right: 2px;
  line-height: 99.7%;
  cursor: pointer;
  padding-left: 16px;
}
/* Заголовок в меню */
.option_tab_title{
  color: #C4C4C4;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin-left: 17px;
  padding-bottom: 11px;
}


/*  БЛОК КАРТЫ  */
.map{
  display: inline-block;
  position: absolute;
}

.title{
  text-align: right;
  width: 1382px;
}

.title_category{
  color: #fff;      
  font-family: 'roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.container_region{
  color: #a1a1a1;
  font-family: 'roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

/* Начало лоадера */
/*.sk-circle {
  position: absolute;
  margin-top: 240px;
  margin-left: 600px;
  z-index: 3;
  display: none;
}
.sk-circle .sk-child {
  position: absolute;
  width: 160px;
  height: 160px;
}*/

.loader {
  border: 12px solid #222122;
  border-radius: 50%;
  border-top: 12px solid #555;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
  margin: 240px 620px;
  position: absolute;
  z-index: 3;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 17%;
  height: 17%;
  background: linear-gradient(90deg, #1E27FF, #FF35EB);
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}

.sk-circle .sk-circle2 {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
          transform: rotate(225deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(315deg);
      -ms-transform: rotate(315deg);
          transform: rotate(315deg); }
.sk-circle .sk-circle1:before {
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s; }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.05s;
          animation-delay: -1.05s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.75s;
          animation-delay: -0.75s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 10% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 10% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}*/
/* Конец лоадера */
/**/
/*!!!*/
#map_container {
  width: 1349px;
  height: 600px;
  background-color: #191819;
  margin-left: 40px;
  margin-top: 42px; 
}

#map_container_load {
  width: 1349px;
  height: 600px;
  background-color: #191819;
  margin-left: 40px;
  margin-top: 42px; 
}
#map_container_load::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.4);
  z-index: 2;
  width: 1349px;
  height: 600px;
  margin-left: 40px;
  margin-top: 92px; 
}


/*!!!*/
/**/


.regions_div{
  width: 1348px;
  height: 620px;
  margin-left: 40px;
  padding-top: 34px;
}

div.google-visualization-tooltip {
  background-color: #1e1a1a;
  border: 0px solid !important;
  box-shadow: 0 0 0 0;
  opacity: 0.9;
}

div.google-visualization-tooltip ul li span{
  color: #e7def6 !important;
  text-transform: uppercase;
}

/* Контейнер дял кнопок: "сбросить", */
.buttons_container{
  /*margin-left: 1214px; это без календаря*/
  margin-left: 1208px;
  margin-top: 590px;
  position: absolute;
  text-align: right;

}
/* инпут для календаря */
.datepicker{
  display: inline-block;
  background-color: #2f2f2f;
  color: #fff;
  width: 110px;
  height: 23px;
  border-radius: 100px;
  outline: none;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 300;
  /* text-indent: 16px; */
  position: absolute;
  margin-left: 36px;
  margin-top: 34px;
  text-align: center;
}
.datepicker::-webkit-input-placeholder{
  color: #fff;
}
/* Кнопка зума "Уменьшить" */
#zoom_minus{
  display: inline-block;
  width: 38px;
  height: 37px;
  cursor: pointer;
}
/* Проценты зума container*/
.zoom_info{
  display: inline-block;
  width: 38px;
  height: 37px;
  background-color: #222122;
  color: #fff;
  font-family: 'roboto', sans-serif;
  font-size: 13px;
  font-weight: 300;

}
/* Проценты зума */
.zoom_info_text{
  margin-top: 10px;
  position: absolute;
  margin-left: 8px;
}
/* Кнопка зума "Увеличить" */
#zoom_plus{
  display: inline-block;
  width: 38px;
  height: 37px;
  margin-right: 3px;
  cursor: pointer;
}
/* Кнопка зума "сбросить" */
#zoom_reset{
  display: inline-block;
  width: 39px;
  height: 37px;
  cursor: pointer;
}

/* Контейнер для элементов слайдера */
.slider_container_pseudo{
  margin-left: 22px;
  margin-top: 14px;
}
.slider_container{
  margin-left: 22px;
  margin-top: 14px;
}
.slider_container_covid{
  margin-left: 153px;
  margin-top: 14px;
}
.slider_container_pseudo::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  z-index: 2;
  width: 1380px;
  height: 65px;
  margin-top: 697px;
  border-radius: 20px;
  margin-left: 24px;
}
/* круг загрузки слайдер */
.slider_loader{
  border: 3px solid #c4c4c4;
  border-radius: 50%;
  border-top: 3px solid #221f1f;
  width: 24px;
  height: 24px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
  position: absolute;
  z-index: 3;
  margin-left: 1346px;
  margin-top: 31px;
  display: none;
}
/* Число(год) над слайдером */
.num_over_slider{
  position: relative;
  color: #857c7c;
  font-family: 'roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  left: 96.6%;
}
/* Контейнер для слайдера */
.slider_inner{
  margin-left: 3px;
}
/* Полоска для слайдера */
.slider {
  -webkit-appearance: none;
  width: 1348px;
  height: 22px;
  background: #272627;
  outline: none;
  border-radius: 15px;
}
/* Полоска для слайдера, но псевдоэлемент скрыт(ползунок)*/
.slider_load{
  -webkit-appearance: none;
  width: 1348px;
  height: 22px;
  background: #272627;
  outline: none;
  border-radius: 15px;
}
/* Полоска слайдера для коронавируса */
.slider_covid{
  -webkit-appearance: none;
  width: 1219px;
  height: 22px;
  background: #272627;
  outline: none;
  border-radius: 15px;
}
/* сам слайдер */
.slider::-webkit-slider-thumb, .slider_covid::-webkit-slider-thumb{ /* webkit для более новых браузеров*/
  -webkit-appearance: none;
  appearance: none;
  width: 28px;
  height: 28px;
  border-radius: 100px;
  background: #707070;
  cursor: pointer;
  display: block;
}
/* сам слайдер, но он скрыт при загрузке all_data*/
/*.slider_load::-webkit-slider-thumb{
  display: none;
}*/

/* сам слайдер для более старых браузеров */
.slider::-moz-range-thumb { /* moz для более старых браузеров*/
  width: 28px;
  height: 28px;
  border-radius: 100px;
  background: #707070;
  cursor: pointer;
}
.min_max_nums{
  display: flex;
  justify-content: space-between;
  width: 1336px;
  margin-left: 12px;
}
/* min_max_nums для коронавируса */
.min_max_nums_covid{
  display: flex;
  justify-content: space-between;
  width: 1207px;
  margin-left: 12px;
}

.min_num, .max_num{
  color: #A1A1A1;
  font-family: 'roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  display: inline-block;
}


/* Контейнер для кнопок: "random category" и тд. */
.container_buttons_for_map{
  margin-top: 7px;
  margin-left: 40px;
  text-align: right;
}

/* Серая полоска если нет значения на карте */
.no_data_container{
  text-align: left;
  height: 30px; 
  width: 113px;
  position: absolute;
  margin-top: 12px;
}
.no_data_text{
  color: #fff;
  font-family: 'roboto', sans-serif;
  font-size: 13px;
  font-weight: 300;

}
.no_data{
  background-color: #707070;
  width: 113px;
  height: 15px;
  border-radius: 4px;
}
/* градиентная полоска для значений на карте */
.data_container{
  position: absolute;
  margin-top: 12px;
  margin-left: 120px;
}
.data_text_container{
  display: flex;
  justify-content: space-between;
}
.data_text_start, .data_text_end{
  color: #fff;
  font-family: 'roboto', sans-serif;
  font-size: 13px;
  font-weight: 300;
  display: inline-block;
}
.data{
  width: 552px;
  height: 15px;
  border-radius: 4px;
  background: #444;
}
.progress{
  width: 550px;
}
.progress .progress_bar{
  position: relative;
  display: none;
}
.progress .progress_bar:after{
  position: absolute;
  right: -7px;

  color: #707070;
  content: "";
  border-top: 0;
  border-right: 5px solid transparent;
  border-bottom: 9px solid;
  border-left: 5px solid transparent;
}

/*Контейнер для кнопок рандом категории, поделиться и тд*/
.change_colour_container{
  display: inline-block;
  width: 100px;
  margin-right: 9px;
  cursor: pointer;
}
.change_colour_border{
  width: 92px;
  height: 59px;
  border: 1px solid #3b3535;
  border-radius: 100px;
  position: absolute;
  display: inline-block;
  margin-left: 5px;
  margin-top: 7px;
}
.change_colour_bg{
  width: 38px;
  height: 40px;
  background: #444;
  position: absolute;
  margin-top: 15px;
  display: inline-block;
  margin-left: 34px;
  z-index: -1;

}
.change_colour{
  width: 104px;
  height: 59px;
  padding-right: 18px;
  padding-top: 8px;
  display: inline-block;
  position: relative;
}

.random_category{
  width: 208px;
  height: 59px;
  border-radius: 40px;
  background: #444;
  text-align: center;
  vertical-align: top;
  display: inline-block;
  margin-top: 8px;
  cursor: pointer;
}
.random_category_text{
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 800;
  color: #fff;
  margin-top: 20px;
}

.dw{
  width: 97px;
  height: 59px;
  padding-right: 5px;
  padding-left: 11px;
}

.share{
  width: 97px;
  height: 59px;
  margin-right: 71px;
  cursor: pointer;
}

/* Подвал сайта */
.container_footer{
  width: 100%;
  height: 99px;
  background-color: #222122;
  display: flex;
  justify-content: space-between;
  margin-top: 74px;
}
/* Текста подвала */
.text_footer{
  color: #828282;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin-top: 46px;
}
.text_footer{
  margin-left: 149px;
}






/* инпут "радио" и след за ним элемент option */
.input_tab_radio .option_tab{
  display: inline-block;
}


.my-logo{
  position:fixed;
  bottom:0;
  left:0;
  margin:0;
  padding:0;
}

.my-logo__pic{
    border:0;
    vertical-align:middle;
}

a{text-decoration: none;}

.testdiv{
  color: #ede6f9;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    padding-bottom: 11px;
    padding-right: 2px;
    line-height: 99.7%;
    cursor: pointer;
}
