{% extends "base.html" %}

{% block content %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/contacts.css') }}">
	<div class="intro_inner">
		<h1 class="title_page">contacts</h1>
		<div class="title_contacts">
			<div class="social_network">@mail<span class="text_social_network">mapstat@gmail.com</span></div>
			<div class="social_network">Instagram<span class="text_social_network">@mapstat</span></div>
			<div class="social_network">Facebook<span class="text_social_network">mapstat.fb</span></div>
			<div class="social_network">Twitter<span class="text_social_network">mapstathello</span></div>
		</div>
	</div>
    <script src="{{ url_for('static', filename='js/random_color.js') }}"></script>

{% endblock %}